$text-color: #000000;
$background-color: #ffffff;
$hero-background-color: #4527A0;
$background-color-2: #282faf;
$background-color-3: #202692;
$link-color: #03b9f1;
$link-hover-color: #fff;


$body-font: 'Raleway', Helvetica, sans-serif;
$header-font: 'Abril Fatface', Helvetica, sans-serif;
