

.hero-section{
	height: 100vh;
	padding: 0;
	.container{
		height: 100vh;
		.row{
			height: 100vh;
		}
	}
	&.main-hero{
		background-color: $hero-background-color;
	}
	.scroll-direction{
		text-align: center;
		position: absolute;
		bottom: .5rem;
		color: $white-text;
	}
}

.contact-button{
	a{
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		color: $white-text;
		margin-top: 2rem;
		text-align: center;
		border: 1px solid #FFFFFF;
		padding: 8px 80px;
		font-size: 1.4rem;
		line-height: 1.2em;
		transition: border-color 0.2s ease;
		z-index: 0;
		span{
			font: $button-font;
		}
		&:before {
			content: "";
			position: absolute;
			 top: 0;
			 left: 0;
			 right: 0;
			 bottom: 0;
			 background: white;
			 transform: scaleX(0);
			 transform-origin: 0 50%;
			 transition-property: transform;
			 transition-duration: 0.5s;
			 transition-timing-function: ease-out;
			 z-index: -1;
		 }
		 &:hover{
			 text-decoration: none;
			 color: black;
			 svg{
				 g{
					 stroke:#000000;
				 }
			 }
			 &:before{
				 transform: scaleX(1);
      		transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
			 }
		 }
	}
}

.project-number{
	color: rgba(0,0,0,.24)
}
.project-role{
	color: rgba(0,0,0,.54);
	margin-bottom: .5rem;
}
.project-image{
	background-color: #f2f2f2;
	height: 440px;
}


.project-case-study-button{
	a{
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		color: inherit;
		margin-top: 2rem;
		text-align: center;
		width: 100%;
		border: 1px solid #000000;
		padding: 8px;
		font-size: 1.4rem;
		line-height: 1.2em;
		transition: border-color 0.2s ease;
		span{
			font: $button-font;
		}
		&:before {
			content: "";
			position: absolute;
			 top: 0;
			 left: 0;
			 right: 0;
			 bottom: 0;
			 background: black;
			 transform: scaleX(0);
			 transform-origin: 0 50%;
			 transition-property: transform;
			 transition-duration: 0.5s;
			 transition-timing-function: ease-out;
			 z-index: -1;
		 }
		 &:hover{
			 text-decoration: none;
			 color: $white-text;
			 svg{
				 g{
					 stroke:#ffffff;
				 }
			 }
			 &:before{
				 transform: scaleX(1);
      		transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
			 }
		 }
	}
}

.project-name{
	overflow: hidden;
	span{
		position: relative;
		&:after{
			content: "";
			position: absolute;
			width: 304px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 0.25em;
	    border-top: 2px solid black;
	    z-index: -1;
			left: 100%;
  		margin-left: 15px;
		}
	}

}

.my-work{
	.row{
		padding: 6em 0;

	}
}
