@import "config";

.hero-section{
	height: 100vh;
	background-color: $hero-background-color;
	.container{
		height: 100vh;
		.row{
			height: 100vh;
		}
	}
}

.contact-button{
	a{
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		color: inherit;
		margin-top: 2rem;
		text-align: center;
		// width: 100%;
		border: 1px solid #ffffff;
		padding: 8px 56px;
		font-size: 1.4rem;
		line-height: 1.2em;
		transition: border-color 0.2s ease;
		span{
			font: $button-font;
			color: $white-text;
		}
	}
}

.project-number{
	color: rgba(0,0,0,.24)
}
.project-role{
	color: rgba(0,0,0,.54);
	margin-bottom: .5rem;
}
.project-image{
	background-color: #f2f2f2;
	height: 440px;
}

.project-case-study-button{
	a{
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		color: inherit;
		margin-top: 2rem;
		text-align: center;
		width: 100%;
		border: 1px solid #000000;
		padding: 8px;
		font-size: 1.4rem;
		line-height: 1.2em;
		transition: border-color 0.2s ease;
		span{
			font: $button-font;
		}
	}
}

.project-name{
	overflow: hidden;
	span{
		position: relative;
		&:after{
			content: "";
			position: absolute;
			width: 304px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 0.25em;
	    border-top: 2px solid black;
	    z-index: -1;
			left: 100%;
  		margin-left: 15px;
		}
	}

}

.my-work{
	.row{
		padding: 6em 0;

	}
}
