@import "config";
@import "morph";
@import 'content';
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	width: 1224px;
	// @include make-col($size, $columns: $grid-columns);
	// @grid-gutter-width:24px;
	@grid-gutter-width()

}

body {
	font:$paragraph-font;
	color: $text-color;
	background-color: $background-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
font-family: $header-font-family;
}

h1{
	font: $header1-font;
	// font-stretch:semi-expanded;
}

h2{
	font: $header2-font;
}

.white-text{
	color: $white-text;
}

header{
	background-color: transparent;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 10;
	nav{
		display: inline-block;
		padding-top: 1rem;
		float: right;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			li{
				display: inline-block;
				line-height: 1.5rem;
				a{
					padding: .5rem 1rem;
					color: #FFFFFF;
				}

			}
		}
	}
}
