@import "config";
@import "morph";
@import 'work';
@import 'content';

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	max-width: 1224px;
}

body {
	font:$paragraph-font;
	color: $text-color;
	background-color: $background-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
font-family: $header-font-family;
}

h1{
	font: $header1-font;
	// font-stretch:semi-expanded;
}

h2{
	font: $header2-font;
}

h3{
	font: $header3-font;
	font-weight: 600;
	margin-top: 3rem;
}

h4{
	font: $header4-font;
	font-weight: 600;
	margin-top: 2rem;
}

.secondary-text{
	color: $secondary-text-color;
}

.white-text{
	color: $white-text;
}

.secondary-white-text{
	color: $secondary-white-text;
}

.gray-background{
	background-color: $gray-background-color;
}

.browser{
	img{
		width: 100%;
	}
}

section{
	padding: 64px 0;
}

figcaption{
	text-align: center;
	font-size: .8em;
	font-style: italic;
}


header{
	display: flex;
	align-items: center;
	justify-content:space-between;
	background-color: transparent;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	height: 56px;
	z-index: 10;
	.logo{
		float: left;
		margin-left: 8px;
		display: inline-block;
		a{
			color: $white-text;
			&:hover{
				color: $white-text;
			}
		}
	}
	nav{
		display: inline-block;
		float: right;
		font: $nav-font;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			li{
				display: inline-block;
				line-height: 1.5rem;
				a{
					padding: .5rem 1rem;
					color: $white-text;
					&:hover{
						color: $white-text;
					}

				}

			}
		}
	}
}



.footer{
	background-color: $background-color-dark-gray;
	ul{
		margin: 0px;
		li{
			display: inline-block;
			&:after{
				margin: 8px;
				color: $white-text;
				content: '\2022';
			}
			&:last-child{
				&:after{
					content: '';
				}
			}
			a{
				color: $white-text;
				&:hover{
					color: $white-text;
				}
			}
		}
	}
}
