.child-hero-section{
    padding: 0;
    height: calc(100vh - 12rem);
    .container{
      height: calc(100vh - 12rem);
      .row{
        height: calc(100vh - 12rem);
        .image{
          text-align: center;
        }
      }
    }
    &.lengo-section{
      background: linear-gradient(-50deg, #27AAE1, #00A79D);
    }
    &.kamana-section{
      background: linear-gradient(-50deg, #379EF0, #20235C);
    }
    &.three-section{
      background: linear-gradient(-50deg, #3B7BD6, #EF5350);
    }


}



.lengo-browser{
  background: $gray-background-color;
}

.process-image{
  margin: 4rem 0;
  img {
    width: 100%;
  }
}

.browser{
  margin: 4rem 0;
  img {
    width: 100%;
  }
}

.approach{
  background: $gray-background-color;
  img{
    margin: 0 auto;
    display: block;
  }
}
